@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* FORMATOCOM */

.formatoCom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(206, 206, 206);
}

.formatoCom section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FORMATOCOM2 */

.formatoCom2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.formatoCom2 section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#animacion {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  #transfor {
    width: 300px;
    height: 100px;
    background-color: rgb(18, 83, 180);
    border: 1px solid black;
    transform: rotateX(150deg);
}