:root{
	--primary-text-color: #1B1D1D;
	--secondary-text-color: #FFF;
	--secondary-color:  rgba(245,246,246,0.8);
	--color-formula1: #FF1E00;
	--primary-color-wec: #00236F;
	--secondary-color-wec: #5CBB0A;
	--primary-color-dakar: #C13A1C;
	--primary-color-renault: #FED500;
	--secondary-color-renault: #E8E8E8;
	--primary-color-indy:#0075C9;
	--color-alpine: #0071C2;
	
	--degradado-dakar-indy: linear-gradient(to right,var(--primary-color-dakar),var(--primary-color-indy)) no-repeat;
	--degradado-wec: linear-gradient(to right,var(--primary-color-wec),var(--secondary-color-wec)) no-repeat;

	--degradado-alpine-renault-wec-f1: linear-gradient(to right,var(--color-alpine), var(--primary-color-renault),var(--primary-color-wec),var(--color-formula1)) no-repeat;

}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.eot") format("eot"), url("../fonts/Roboto-Regular-webfont.ttf") format("ttf"), url("../fonts/Roboto-Regular-webfont.svg") format("svg");
}

body {
    font-size: 16px;
    color:var(--primary-text-color);
    font-family: "Roboto";
    margin: 1em;
    background-image: url(../imagenes/huella_rueda.png);
    background-size: cover;
    text-align: justify;
}

nav {
    position: fixed;
    right: 0;
    top: 30vh;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    color: var(--color-alpine);
}

nav li i:hover {
    color: var(--color-formula1);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: scale(1.7) rotate(-1080deg);
    -moz-transform: scale(1.7) rotate(-1080deg);
    -o-transform: scale(1.7) rotate(-1080deg);
}

header {
    background: url(../imagenes/Logo_Alpine.png) no-repeat 97%, url(../imagenes/logo-renault.svg)no-repeat 92%, url(../imagenes/logo_toyota_nuevo_sinnombre.svg) no-repeat 90%, url(../imagenes/mclaren-1.svg) no-repeat 82%,url(../imagenes/INDYCAR-Dark.png) no-repeat 19%, url(../imagenes/logo_dakar_Grises_alpha.png) no-repeat 14%, url(../imagenes/Logo_wec_400x400_alpha.svg) no-repeat 7%, url(../imagenes/logo_Formula1.svg) no-repeat 1%,var(--degradado-alpine-renault-wec-f1) no-repeat;
    background-size: 80px, 100px, 250px,120px, 70px, 50px, 110px,100px ,100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

header h1 {
    color: var(--secondary-text-color);
    text-shadow: 2px 2px var(--color-alpine);
}
header h2 {
    color: var(--color-alpine);
    text-shadow:2px 2px var(--secondary-text-color);
}

main{
    display:grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: auto;
    grid-gap:2%;
    justify-content: center;
    
}

#palmares{
    background-color: var(--secondary-text-color);
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#palmares:hover{
    box-shadow:  0 -2em 2em rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.25), 0.3em 0.3em 1em rgba(0, 0, 0, 0.25);
    transition-duration: 2s
}
#palmares div{
    margin-bottom:10%;
}
#palmares h2{
    text-align:center;
}
#imgPalmares{
    display:block;
    margin: 0 auto;
    width:95%;
}
#palmares div >h3{
    text-align:center;
    color:var(--secondary-text-color);
    margin-left:2.5%;
    margin-right:2.5%;
}
#formula1 h3{
    background-color:var(--color-formula1);
}
#formula1:hover {
    box-shadow:  0 -2em 2em rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.25), 0.3em 0.3em 1em rgba(0, 0, 0, 0.25);
    transition-duration: 2s
}

#formula1:hover span {
    color: var(--color-formula1);
    transition-duration: 2s
}
#wec h3{
    background: var(--degradado-wec);
}
#wec:hover {
    box-shadow:  0 -2em 2em rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.25), 0.3em 0.3em 1em rgba(0, 0, 0, 0.25);
    transition-duration: 2s
}

#wec:hover b {
    color: var(--primary-color-wec);
    transition-duration: 2s
}
#wec:hover span {
    color: var(--secondary-color-wec);
    transition-duration: 2s
}

#dakar h3{
    background: var(--degradado-dakar-indy);
}
#dakar:hover {
    box-shadow:  0 -2em 2em rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.25), 0.3em 0.3em 1em rgba(0, 0, 0, 0.25);
    transition-duration: 2s
}

#dakar:hover span {
    color: var(--color-alpine);
    transition-duration: 2s
}
#dakar:hover b {
    color: var(--primary-color-dakar);
    transition-duration: 2s
}

.principal{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.principal section img{
    display:block;
    margin: 0 auto;
    width:80%;
}
.plan{
    background-color:var(--secondary-text-color);
    margin-bottom:2%; 
}
.plan h2{
    text-align:center;
    color:var(--color-alpine); 
    text-shadow: 0px 0px 10px #FFF,
/* Parte de luz */
4px 2px 12px #DCB500,
-4px 2px 12px #DCB500,
/* Subida del fuego */
0px -6px 14px #FF7A00,
0px -12px 14px #FF6300,
0px -20px 14px #FF4400;

}
.plan:hover{
    box-shadow:  0 -1em 1em rgba(0, 0, 0, 0.25), 0 0 0 2px var(--color-alpine), 0.3em 0.3em 1em var(--color-alpine);
    transition-duration: 2s
}
#modalidades h2{
    text-align:center;
    color:var(--color-alpine);
}
#modalidades div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 1em;
    background-color: var(--secondary-text-color);
}

#modalidades h3 {
    color: var(--secondary-text-color);
    margin-top: 1em;
    margin-bottom: 1em;
}

#modalidades img {
    align-content: center;
    width: 100%;
    height: 250px;
}

#bicampeon1 {
    padding: 1em;
    text-align: center;
}

#bicampeon1 h3 {
    background-color: var(--color-formula1);
    margin-top: 1em;
    margin-bottom: 1em;
}

#bicampeon1 p {
    text-align: justify;
}

#bicampeon1:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px var(--color-formula1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: 1s
}

#bicampeon2 {
    padding: 1em;
}

#bicampeon2 h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bicampeon2 p {
    text-align: justify;
}

#bicampeon2:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px var(--color-alpine), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: 1s
}

#bicampeon2 h3 {
    background-image: linear-gradient(to left, var(--secondary-color-wec), var(--primary-color-wec));
    margin-top: 1em;
    margin-bottom: 1em;
}
