@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand:wght@300;500&family=Roboto+Slab:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Playfair+Display:wght@500&family=Quicksand:wght@300;500&family=Roboto+Slab:wght@200;300&display=swap");
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1024px) {
  main h3 {
    margin-left: 50px;
  }
}

.sobre_mi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre_mi h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1024px) {
  .sobre_mi h3 {
    margin-left: 50px;
  }
}

.contenido_sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido_sobre img {
  width: 60%;
  height: 60%;
  max-width: 368px;
  max-height: 368px;
}

@media screen and (min-width: 1024px) {
  .contenido_sobre {
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenido_sobre img {
    width: 368px;
    height: 368px;
    border-radius: 50%;
  }
}

.parrafo_sobre p {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.linea {
  border: 1px solid #9E9E9E;
  width: 90%;
  margin: 10px 10px 10px 17px;
}

@media screen and (min-width: 510px) {
  .linea {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .linea {
    width: 95%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 27px;
  }
}

/* PROYECTOS */
.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.proyectos .contenido_proyectos {
  border: 2px solid #757575;
  border-radius: 5px;
  max-width: 315px;
  align-items: center;
}

.proyectos .contenido_proyectos img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #757575;
  height: 190px;
}

.proyectos .parrafo_proyecto h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #212121;
}

.proyectos .parrafo_proyecto p {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.proyecto {
  margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  .proyecto {
    margin: 0;
    max-width: 315px;
  }
}

.linea_proyecto {
  border: 1px solid #9E9E9E;
  width: 84%;
  margin-left: 20px;
}

/* SOFTSKILLS */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1024px) {
  .skills h3 {
    margin-left: 50px;
  }
}

.softskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 510px) {
  .softskills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .softskills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.softskill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 40px;
  text-align: center;
}

.softskill h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.softskill p {
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .softskill {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.estudios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.estudios h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1024px) {
  .estudios h3 {
    margin-left: 50px;
  }
}

.estudios .oficiales, .estudios .no_oficiales {
  margin-left: 55px;
  margin-right: 55px;
}

.no_oficiales > h4 {
  color: #283fc2;
  text-decoration: underline;
}

.certificados > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.oficiales > div, .no_oficiales > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.oficiales > div i, .no_oficiales > div i {
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .formacion {
    display: flex;
    flex-direction: row;
  }
}

.tecnicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.tecnicas h3 {
  margin-left: 25px;
  font-family: 'Playfair Display', serif;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 1024px) {
  .tecnicas h3 {
    margin-left: 50px;
  }
}

.html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.js {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.tecno {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tecno img {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

.php {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.java {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-right: 55px;
}

.contenedor_html {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #e7876a;
}

.contenedor_html > p {
  color: white;
  margin: 0;
  margin-right: 5px;
}

.contenedor_html > div {
  width: 80%;
  background-color: #eb540e;
}

.contenedor_css {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #8ebff7;
}

.contenedor_css > p {
  color: white;
  margin: 0;
  margin-right: 5px;
}

.contenedor_css > div {
  width: 70%;
  background-color: #283fc2;
}

.contenedor_js {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #f1e07e;
}

.contenedor_js > p {
  color: white;
  margin: 0;
  margin-right: 5px;
}

.contenedor_js > div {
  width: 80%;
  background-color: #dfdb0c;
}

.contenedor_php {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #7e93af;
}

.contenedor_php > p {
  color: white;
  margin: 0;
  margin-right: 5px;
}

.contenedor_php > div {
  width: 70%;
  background-color: #2f5999;
}

.contenedor_java {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #f06f6f;
}

.contenedor_java > p {
  color: white;
  margin: 0;
  margin-right: 5px;
}

.contenedor_java > div {
  width: 80%;
  background-color: #ac1b1b;
}

.rrss_2 {
  display: flex;
  flex-direction: colum;
  justify-content: center;
}

.rrss_2 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0;
}

.rrss_2 ul li {
  margin-right: 15px;
}

#telegram {
  color: #0088cc;
}

#linkedin {
  color: #2867B2;
}

#instagram {
  color: #E1306C;
}

#twitter {
  color: #1DA1F2;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 5px;
  font-size: 15px;
}
